fastapi
uvicorn[standard]
python-dotenv
numpy


langchain>=0.2
langchain-community>=0.2
langchain-core>=0.2
langchain-openai>=0.1
langchain-pinecone

pinecone==7.3.0
pinecone-text==0.11.0


Pillow
torch